.header {
    background-color: aqua;
    background-image: url(../img/pattern.png);
    padding: 12px;
    padding-top: 50px;
    border-image-repeat: repeat;
    background-size: contain;

 
}

.header-logo {
    height: 50px;

}


/* fine header */
.title {
   font-size: 40px;
}

.subtitle span {
    color: blue;
}
.data {
    font-style: oblique;
}

.tim-img {
    font-style: oblique;
 
}
 /* fine tim-img */
 /* table csss */


 

.color-colon {
    background-color: blue;
    color: beige;
   
}

.color-colum2 {
background-color: turquoise;
}

.final-tex {
    color: blue;
}